<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.npappdev.chayanit.stockunlocked">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoooo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoooo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.npappdev.chayanit.stockunlocked.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.npappdev.chayanit.stockunlocked.LessonActivity" />
        <activity android:name="com.npappdev.chayanit.stockunlocked.QuizActivity" />
        <activity android:name="com.npappdev.chayanit.stockunlocked.ExamActivity" />
        <activity android:name="com.npappdev.chayanit.stockunlocked.Lesson1Activity" />
        <activity android:name="com.npappdev.chayanit.stockunlocked.Lesson2Activity" />
        <activity android:name="com.npappdev.chayanit.stockunlocked.Lesson3Activity" />
        <activity android:name="com.npappdev.chayanit.stockunlocked.Lesson4Activity" />
        <activity android:name="com.npappdev.chayanit.stockunlocked.Lesson5Activity" />
        <activity android:name="com.npappdev.chayanit.stockunlocked.SettingActivity" />
        <activity android:name="com.npappdev.chayanit.stockunlocked.Quiz1Activity" />
        <activity android:name="com.npappdev.chayanit.stockunlocked.Quiz2Activity" />
        <activity android:name="com.npappdev.chayanit.stockunlocked.Quiz3Activity" />
        <activity android:name="com.npappdev.chayanit.stockunlocked.Quiz4Activity" />
        <activity android:name="com.npappdev.chayanit.stockunlocked.Quiz5Activity" />
        <activity android:name="com.npappdev.chayanit.stockunlocked.ExamResultActivity" />
        <activity android:name="com.npappdev.chayanit.stockunlocked.Lesson6Activity" />
        <activity android:name="com.npappdev.chayanit.stockunlocked.Quiz6Activity" />
        <activity android:name="com.npappdev.chayanit.stockunlocked.QuizResultActivity" />
        <activity android:name="com.npappdev.chayanit.stockunlocked.Lesson5QsActivity" />
        <activity android:name="com.npappdev.chayanit.stockunlocked.SpecialQuizActivity" />
        <activity android:name="com.npappdev.chayanit.stockunlocked.TitleActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>